
<!-- home 视图 -->
<div class="home-container">

    <header class="header">
        <span class="nav-link home-title" path="#/job">拉勾网</span>
    </header>
    

    <main></main>
    
    <div class="footer">
        <a path="#/job" href="#/job" class="footer__item active nav-link"><i class="iconfont icon-home"></i>职位</a>
        <a path="#/search" href="#/search"  class="footer__item nav-link"><i class="iconfont icon-search"></i>搜索</a>
        <a  path="#/profile" href="#/profile" class="footer__item nav-link"><i class="iconfont icon-user"></i>我的</a>
    </div>
</div>