
<!-- home 视图 -->
<div class="home-container">

    <header class="header">
        <span class="nav-link home-title" path="#/job">拉勾网</span>
    </header>
    

    <main></main>
    
    <div class="footer">
        <a  href="/index.html" class="footer__item active nav-link"><i class="iconfont icon-home"></i>职位</a>
        <a  href="/search.html"  class="footer__item nav-link"><i class="iconfont icon-search"></i>搜索</a>
        <a  href="/profile.html" class="footer__item nav-link"><i class="iconfont icon-user"></i>我的</a>
    </div>
</div>